@model BanDoDienTu_Nhom06_N03.Models.HoaDonNhap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Mã hóa đơn nhập</td>
                <td>@Html.DisplayFor(model => model.MaHdn)</td>
            </tr>
            <tr>
                <td>Nhà cung cấp</td>
                <td>@Html.DisplayFor(model => model.MaNcc)</td>
            </tr>
            <tr>
                <td>Ngày nhập</td>
                <td>@(Model.NgayNhap.HasValue ? Model.NgayNhap.Value.ToString("dd/MM/yyyy") : "Trống")</td>
            </tr>
            <tr>
                <td>Nhân viên</td>
                <td>@Html.DisplayFor(model => model.MaNv)</td>
            </tr>
            <tr>
                <td>Tổng tiền</td>
                <td>@Model.TongTien.Value.ToString("N0") đ</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHdn">Sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
