@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<HoaDonNhap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách hóa đơn nhập</h2>

<p>
    <a asp-action="Create">Thêm hóa đơn nhập</a>
</p>
<table class="table table-bordered" style="border:5px solid white;">
    <thead style="border:5px solid white;">
        <tr>
            <th>
                ID
            </th>
            <th>
                Nhà cung cấp
            </th>
            <th>
                Ngày nhập
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="border:5px solid white;">
        @if(Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.MaHdn
                    </td>
                    <td>
                        @item.MaNcc
                    </td>
                    <td>
                        @(item.NgayNhap.HasValue ? item.NgayNhap.Value.ToString("dd/MM/yyyy") : "Trống")
                    </td>
                    <td>
                        <a class="btn btn-inverse-info btn-tone m-r-5" asp-area="Admin" asp-controller="ImportOrder" asp-action="Details" asp-route-id="@item.MaHdn">Chi tiết</a>
                        <a class="btn btn-inverse-success btn-tone m-r-5" asp-area="Admin" asp-controller="ImportOrder" asp-action="Edit" asp-route-id="@item.MaHdn">Sửa</a>
                        <a class="btn btn-inverse-dark btn-tone m-r-5" asp-area="Admin" asp-controller="ImportOrder" asp-action="Delete" asp-route-id="@item.MaHdn">Xóa</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
@Html.PagedListPager(Model,page => Url.Action("Index", new {page=page}),new X.PagedList.Web.Common.PagedListRenderOptions(){
	LiElementClasses = new List<String> {"page-item"},
	PageClasses = new List<String> {"page-link"}
})
