@model IEnumerable<BanDoDienTu_Nhom06_N03.Models.NhaCungCap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách nhà cung cấp</h1>

<p>
    <a asp-action="Create">Thêm nhà cung cấp mới</a>
</p>
<table class="table table-bordered" style="border:5px solid white;">
    <thead style="border:5px solid white;">
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên nhà cung cấp
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="border:5px solid white;">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.MaNcc
                    </td>
                    <td>
                        @item.TenNcc
                    </td>
                    <td>
                        <a class="btn btn-inverse-info btn-tone m-r-5" asp-area="Admin" asp-controller="Provider" asp-action="Details" asp-route-id="@item.MaNcc">Chi tiết</a>
                        <a class="btn btn-inverse-success btn-tone m-r-5" asp-area="Admin" asp-controller="Provider" asp-action="Edit" asp-route-id="@item.MaNcc">Sửa</a>
                        <a class="btn btn-inverse-dark btn-tone m-r-5" asp-area="Admin" asp-controller="Provider" asp-action="Delete" asp-route-id="@item.MaNcc">Xóa</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>