@model BanDoDienTu_Nhom06_N03.Models.SanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Mã sản phẩm</td>
                <td>@Html.DisplayFor(model => model.MaSp)</td>
            </tr>
            <tr>
                <td>Tên sản phẩm</td>
                <td>@Html.DisplayFor(model => model.TenSp)</td>
            </tr>
            <tr>
                <td>Số lượng</td>
                <td>@Html.DisplayFor(model => model.SoLuong)</td>
            </tr>
            <tr>
                <td>Giá sản phẩm</td>
                <td>@Html.DisplayFor(model => model.GiaSp)</td>
            </tr>
            <tr>
                <td>Ảnh sản phẩm</td>
                <td>@Html.DisplayFor(model => model.AnhSp)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSp">Sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>

