@model BanDoDienTu_Nhom06_N03.Models.ChiTietSp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Trọng lượng</td>
                <td>@Html.DisplayFor(model => model.TrongLuong)</td>
            </tr>
            <tr>
                <td>Bộ nhớ</td>
                <td>@Html.DisplayFor(model => model.BoNho)</td>
            </tr>
            <tr>
                <td>Hệ điều hành</td>
                <td>@Html.DisplayFor(model => model.HeDieuHanh)</td>
            </tr>
            <tr>
                <td>Camera</td>
                <td>@Html.DisplayFor(model => model.Camera)</td>
            </tr>
            <tr>
                <td>Bảo hành</td>
                <td>@Html.DisplayFor(model => model.BaoHanh)</td>
            </tr>
            <tr>
                <td>Kích thước</td>
                <td>@Html.DisplayFor(model => model.KichThuoc)</td>
            </tr>
            <tr>
                <td>Mô tả</td>
                <td>@Html.DisplayFor(model => model.MoTa)</td>
            </tr>
            <tr>
                <td>Pin</td>
                <td>@Html.DisplayFor(model => model.Pin)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSp">Sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
