@model List<DetailsViewModel>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a asp-controller="Home" asp-action="Index">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Thông tin Shop</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Shop Detail Start -->

<div class="container-fluid py-5">
    @foreach (var item in Model)
    {

        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="@Url.Content("~/Clientassets/img/products/" + item.AnhSp + "")" alt="Image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">@item.TenSp</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(50 Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">@(item.GiaSp.HasValue ? item.GiaSp.Value.ToString("N0") : "Liên hệ")</h3>
                <p class="mb-4">@item.MoTa</p>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <span style="margin-right:20px;">Số lượng: @item.SoLuong</span>
                    <span style="margin-right:20px;">Trọng lượng: @item.TrongLuong</span>
                    <span style="margin-right:20px;">Bộ nhớ: @(item.BoNho != null ? item.BoNho : "Liên hệ shop")</span>
                    <span style="margin-right:20px;">Bảo hành: @item.BaoHanh</span>
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <span>Hệ điều hành: @(item.HeDieuHanh != null ? item.HeDieuHanh : "Liên hệ shop")</span>
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <span>Camera: @(item.Camera != null ? item.Camera : "Liên hệ shop")</span>
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <span>Pin: @(item.Pin != null ? item.Pin : "Liên hệ shop")</span>
                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-masp="@item.MaSp" asp-route-quantity="1" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>Thêm vào giỏ hàng</a>
                </div>
                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- Shop Detail End -->
<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Bạn cũng có thể thích</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                @foreach (var item in (List<SanPham>)ViewBag.SanPhamTuongTu)
                {
                    <div class="card product-item border-0">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="@Url.Content("~/Clientassets/img/products/" + item.AnhSp + "")" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@item.TenSp</h6>
                            <div class="d-flex justify-content-center">
                                <h6>@(item.GiaSp.HasValue ? item.GiaSp.Value.ToString("N0") : "Liên hệ shop")</h6><h6 class="text-muted ml-2"><del>@(item.GiaSp.HasValue ? item.GiaSp.Value.ToString("N0") : "Liên hệ shop")</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.MaSp" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Chi tiết</a>
                            <a asp-controller="Cart" asp-action="AddToCart" asp-route-masp="@item.MaSp" asp-route-quantity="1" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm giỏ hàng</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Products End -->

<style>
    .card-header.product-img img {
        object-fit: cover;
        max-width: 100%;
        height: 200px;
    }

</style>