@model List<CartItem>

@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Thông tin giỏ hàng</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a asp-controller="Home" asp-action="Index">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Giỏ hàng</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="align-middle"><img src="@Url.Content("~/Clientassets/img/products/" + item.Product.AnhSp + "")" alt="" style="width: 50px;">@item.Product.TenSp</td>
                                <td class="align-middle">@(item.Product.GiaSp.HasValue ? item.Product.GiaSp.Value.ToString("N0") + "đ" : "Liên hệ Shop")</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus" data-id="@item.Product.MaSp">
                                                <i class="fa fa-minus btn-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary text-center quantity-input" data-price="@item.Product.GiaSp.GetValueOrDefault(0)" value="@item.Quantity">                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus" data-id="@item.Product.MaSp">
                                                <i class="fa fa-plus btn-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle total"><span class="total-price">@((item.Product.GiaSp.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</span>đ</td>
                                <td class="align-middle"><button class="btn btn-sm btn-primary remove-item" data-id="@item.Product.MaSp"><i class="fa fa-times"></i></button></td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Tóm tắt giỏ hàng</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium count-product-ss">Số sản phẩm đã chọn :@Model.Count</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 id="total-price-ss">Tổng giá trị : @ViewBag.Total.ToString("N0")đ</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <a asp-controller="Cart" asp-action="Payment" class="btn btn-block btn-primary my-3 py-3">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    $(function () {
        $("input.quantity-input").on("keyup", function (e) {
            if (e.keyCode === 13) { // check if the key pressed is "Enter"
                var newquantity = parseInt($(this).val());
                $(this).closest("tr").find(".quantity-input").val(newquantity);
                var price = parseFloat($(this).closest("tr").find("td")[1].innerHTML);
                const totalPrice = (newquantity * price * 1000).toLocaleString("vi-VN", { minimumFractionDigits: 0 });
                $(this).closest("tr").find("td")[3].innerHTML = totalPrice.replace(/\./g, ',') + " đ";
                $(".count-product-ss").html("Số sản phẩm đã chọn : " + newquantity.toString());
                // Chọn phần tử thẻ h6 có id=total-price-ss
                const totalPriceSS = document.getElementById('total-price-ss');

                // Gán giá trị tổng vào phần tử HTML
                totalPriceSS.innerText = "Tổng giá trị : " + totalPrice.replace(/\./g, ',') + " đ";

                calculateTotal();
            }
        });


        $("button.btn-plus,button.btn-minus").click(function (event) {
            event.preventDefault(); // prevent the default behavior of the button
            console.log("Button clicked");
            var id = $(this).data("id");
            var input = $(this).closest(".input-group").find("input.quantity-input");
            // update the quantity based on the button clicked
            var newquantity = parseInt(input.val());
            newquantity = Math.max(1, newquantity); // To ensure the newquantity is not less than 1
            input.val(newquantity);
            // update the total';

            var price = parseFloat($(this).closest("tr").find("td")[1].innerHTML);
            const totalPrice = (newquantity * price * 1000).toLocaleString("vi-VN", { minimumFractionDigits: 0 });
            $(this).closest("tr").find("td")[3].innerHTML = totalPrice.replace(/\./g, ',') + " đ";
            $(".count-product-ss").html("Số sản phẩm đã chọn : " + newquantity.toString());

            // Chọn phần tử thẻ h6 có id=total-price-ss
            const totalPriceSS = document.getElementById('total-price-ss');

            // Gán giá trị tổng vào phần tử HTML
            totalPriceSS.innerText = "Tổng giá trị : " + totalPrice.replace(/\./g, ',') + " đ";
            calculateTotal();
        });


        function calculateTotal() {
            var total = 0;
            $(".total-price").each(function () {
                total += parseFloat($(this).text().replace(/\./g, ','));
            });

        }

        calculateTotal();
    });
</script>