@model List<CartItem>

@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Thủ tục thanh toán</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a asp-controller="Home" asp-action="Index">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Thanh toán</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Thông tin người nhận</h4>
                @using (Html.BeginForm("UpdateUser", "Cart", FormMethod.Post))
                {
                    <div class="col-md-9 form-group">
                        <label>Họ tên</label>
                        <input class="form-control" type="text" name="tenKH" placeholder="Họ tên người nhận..." value="@ViewBag.KhachHang.TenKh">
                    </div>
                    <div class="col-md-9 form-group">
                        <label>Địa chỉ</label>
                        <input class="form-control" type="text" name="diaChiKH" placeholder="Địa chỉ người nhận..." value="@ViewBag.KhachHang.DiaChiKh">
                    </div>
                    <div class="col-md-9 form-group">
                        <label>Số điện thoại</label>
                        <input class="form-control" type="text" name="sdtKH" placeholder="Số điện thoại người nhận..." value="@ViewBag.KhachHang.Sdtkh">
                    </div>
                    <div class="card border-secondary mb-5">
                        <div class="card-footer border-secondary bg-transparent">
                            <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Cập nhật thông tin người nhận</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Đơn đặt hàng</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Sản phẩm đã chọn</h5>
                    @foreach (var item in Model)
                    {
                        <div class="d-flex justify-content-between">
                            <p>@item.Product.TenSp</p>
                            <p>@(item.Product.GiaSp.HasValue ? item.Product.GiaSp.Value.ToString("N0") + "đ" : "Liên hệ shop")</p>
                        </div>
                    }
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Tổng tiền:</h5>
                        <h5 class="font-weight-bold">@ViewBag.Total.ToString("N0")đ</h5>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-footer border-secondary bg-transparent">
                        <a asp-controller="Cart" asp-action="ConfirmPayment" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Đặt hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
