@model BanDoDienTu_Nhom06_N03.Models.NhanVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-9">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Mã nhân viên</td>
                <td>@Html.DisplayFor(model => model.MaNv)</td>
            </tr>
            <tr>
                <td>Tên nhân viên</td>
                <td>@Html.DisplayFor(model => model.HoTen)</td>
            </tr>
            <tr>
                <td>Ngày sinh</td>
                <td>@(Model.NgaySinh.HasValue ? Model.NgaySinh.Value.ToString("dd/MM/yyyy") : "Trống")</td>
            </tr>
            <tr>
                <td>Số điện thoại</td>
                <td>@Html.DisplayFor(model => model.Sdtnv)</td>
            </tr>
            <tr>
                <td>Giới tính</td>
                <td>@Html.DisplayFor(model => model.GioiTinh)</td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td>@Html.DisplayFor(model => model.DiaChiNv)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNv">Sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
